*{
    margin: 0;
    padding: 0;
}

.head{
    text-align: center;
}

.row{
    display: flex;
}
.section{
    background-color: burlywood;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: left;
    margin: 14px;
}
.section h1{
        box-sizing: border-box;
        border: 2px solid black;
        text-align: center;
        float: right;
        width: 145px;
        background-color: brown;
    }
.section p{
    padding: 9px;
}    
#beef h1{
      background-color:aqua;
}
#sushi h1{
    background-color: gold;
}
@media(max-width:767px) {
    .row{
        flex-direction: column;
    }
    .section h1{
        width: 115px;
    }
 }
 @media(min-width:768px) and (max-width:991px) {
   .col-md-12{
       width: 100%;
   }
   .col-md-6{
       width: 50%;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
 }